.navbar {
  position: fixed;
  margin-bottom: 10rem;
  top: 3rem;
  left: 0;
  height: 100%;
  width: 250px; /* Adjust the width as needed */
  background-color: white; /* Example background color */
  color: black; /* Example text color */
  padding: 20px;
  text-align: right;
}

/* Adjustments for small screens */
@media (max-width: 768px) {
  .navbar {
    width: 100%; /* Take up full width */
    height: auto; /* Allow content to determine height */
    padding: 10px; /* Adjust padding */
    text-align: left; /* Center-align text */
  }

  /* Hide the ul containing individual navigation links on small screens */
  .navbar ul {
    display: none;
  }

  /* Show the NavDropdown on small screens */
  .navDropdown {
    display: block;
  }
}

/* Hide the NavDropdown on screens larger than 768px */
@media (min-width: 769px) {
  .navDropdown {
    display: none;
  }
}

.headerNEW h2 a {
  color: black;
  text-decoration: none;
}

/* Navigation.module.css */
.active {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}
