.homePageMain {
  margin-left: 21rem; 
  padding-left: 3rem;
  }
  
  .homePageMain div {
    /* margin: 4.5rem 0; */
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
  }
  

.homePageMain img{
    width: 2000px; /* Adjust the width as needed */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
}

@media (max-width: 768px) {
  .homePageMain {
    margin-left: 0rem;
    padding-left: 0rem;
    padding-top: 10rem;
}
}