.homePageMain {

  }
  
  .homePageMain div {

    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
  }
  

.homePageMain div img{
    width: 1300px; /* Adjust the width as needed */
    height: auto; /* Automatically adjust height to maintain aspect ratio */

}