.pressPageMain {
    margin-top: 2rem;
    margin-left: 27rem; 
  }
  
  .pressPageMain div {
    margin: 4.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: left; /* Horizontally center */
    align-items: flex-start; /* Vertically center */
    gap: 20px
  }
  

.pressPageMain div a{
    font-size: 1.6rem;
}

.pressPageMain div h3{
  font-size: 2.2em;
}