.pressPageMain {
    margin-top: 2rem;
    margin-left: 27rem; 
  }
  
  .pressPageMain div {
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    justify-content: left; /* Horizontally center */
    align-items: flex-start; /* Vertically center */
    gap: 20px
  }
  

.pressPageMain div a{
    font-size: 1rem;
}